# User-specific files and directories
.Xauthority
.aws/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.lesshst
.local/
.profile
.selected_editor
.ssh/
.sudo_as_admin_successful
.viminfo
.vimrc

# Backup and system files
*~

# Logs and temporary files
*.log
*.tmp

# Node and npm
node_modules/

# Ignore macOS system files
.DS_Store

